<div class="currency-input">
    <div class="select-valute">
        


<mat-form-field appearance="fill">
  <mat-label>Cars</mat-label>
  <select matNativeControl required>
    <option value="PLN">PLN Польский злотый</option>
    <option value="GBP">GBP Фунт стерлингов</option>
    <option value="USD">USD Доллар США</option>
    <option value="AMD">AMD Армянский драм</option>
    <option value="CZK">CZK Чешская крона</option>
    <option value="BRL">BRL Бразильский реал</option>
  </select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Cars</mat-label>
  <select matNativeControl required>
    <option value="PLN">PLN Польский злотый</option>
    <option value="GBP">GBP Фунт стерлингов</option>
    <option value="USD">USD Доллар США</option>
    <option value="AMD">AMD Армянский драм</option>
    <option value="CZK">CZK Чешская крона</option>
    <option value="BRL">BRL Бразильский реал</option>
  </select>
</mat-form-field>


    </div>

    <div class="input-valute">
        
    </div>
</div>