%form-parent-class {
    display: flex;

    font-size: x-large;
    margin-top: 20px;
    margin-left: 20px;
}

.input-valute,
.select-valute {
@extend %form-parent-class;
}



.icon {
   display: flex;
   align-self:center;
  
}

.date-field {
    margin-left: 20px;
    font-size:small;
    
    
}