<form>
  <div class="currency-input">

   

    <div class="select-valute">

      <div class="select-valute-left">

        <mat-form-field class="test" appearance="fill">
          <mat-label>Выберите валюту</mat-label>
          <mat-select matNativeControl required [value]="(currentState$ | async)?.leftCurrency"
            (valueChange)="changeValue($event, 'leftCurrency')">

            <mat-option *ngFor="let currency of currencies$ | async" [value]="currency.value">
              <img [src]="getFlagPath(currency.value)" style="height: 18px"
                onerror="this.onerror = null; 
              this.src = 'https://www.nicepng.com/png/detail/15-156393_banner-svg-swallowtail-shape-of-a-flag.png'">

              <strong>{{ currency.value }}</strong> - {{ currency.label }}

            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <mat-icon class="icon" fontIcon="swap_horiz"></mat-icon>

      <div class="select-valute-right">

        <mat-form-field appearance="fill">
          <mat-label>Выберите валюту</mat-label>
          <mat-select matNativeControl required [value]="(currentState$ | async)?.rightCurrency"
            (valueChange)="changeValue($event, 'rightCurrency')">
            <mat-option *ngFor="let currency of currencies$ | async" [value]="currency.value">
              <img [src]="getFlagPath(currency.value)" style="height: 18px"
                onerror="this.onerror = null; 
              this.src = 'https://www.nicepng.com/png/detail/15-156393_banner-svg-swallowtail-shape-of-a-flag.png'">

              <strong>{{ currency.value }}</strong> - {{ currency.label }}

            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
   
    <div class="input-valute">


      <div class="input-valute-left">
        <mat-form-field appearance="fill">
          <input type="number" matInput placeholder="Введите валюту"
            [value]="(currentState$ | async)?.leftCurrencyAmount"
            (input)="changeValue(leftInput.value, 'leftCurrencyAmount')" #leftInput>
        </mat-form-field>
      </div>
      <mat-icon class="icon" fontIcon="swap_horiz"></mat-icon>

      <div class="input-valute-right">
        <mat-form-field appearance="fill">
          <input type="number" matInput placeholder="Введите валюту"
            [value]="(currentState$ | async)?.rightCurrencyAmount"
            (input)="changeValue(rightInput.value, 'rightCurrencyAmount')" #rightInput>
        </mat-form-field>
      </div>

    </div>

    <div class="date-field">
      <mat-form-field appearance="fill">
        <mat-label>Выберите дату</mat-label>
        <input matInput [matDatepicker]="picker" [value]="(currentState$ | async)?.date"
          (dateChange)="changeDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </div>
  </div>
</form>